<div class="card address-card bg-dark mb-3 border border-secondary text-white w-100" style="font-size: 16px; border-width: 2px !important;">
    <div class="card-header name">Name Surname</div>
    <div class="card-body">
        <label class="col-form-label-md address_line_1">Address line 1</label>
        <label class="col-form-label-md address_line_2">Address line 2</label>
        <label class="col-form-label-md cap">Postal Code</label>
        <label class="col-form-label-md city">City</label>
        <label class="col-form-label-md country">Country</label>
    </div>
</div>