<div class="card address-card bg-transparent mb-3 border border-secondary text-white w-100" style="font-size: 16px; border-width: 2px !important;">
    <div class="card-header bg-transparent border-0 mt-3"><h5 class="name"> Name Surname</h5></div>
    <div class="card-body pt-0">
        <label class="col-form-label-md address_line_1">Address line 1</label><br>
        <label class="col-form-label-md address_line_2">Address line 2</label><br>
        <div class="container">
            <label class="col-form-label-md cap">Postal Code</label>
            <label class="col-form-label-md mx-3 city">City</label>
            <label class="col-form-label-md country">Country</label>

            <span class="fa text-secondary float-right fa-ellipsis-h fa-2x"></span>
           <!-- not working dropup menu -->
            <!--
            <div class="btn-group dropup float-right">
                <button type="button" class="btn dropdown-toggle dropdown-toggle-split" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="fa text-secondary fa-ellipsis-h fa-2x"></span>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                    <a class="dropdown-item" href="#">Edit</a>
                    <a class="dropdown-item" href="#">Delete</a>
                </div>
            </div>
            -->
        </div>
    </div>
</div>