<div class="event-item row mb-3">
    <div class="col d-block d-lg-none mb-3">
        <div class="event-date bg-dark overflow-hidden py-3">
            <div class="h-100 w-100 d-flex flex-column justify-content-center">
                <div class="text-white text-center">
                    <h4 class="day mt-0 mb-1">12</h4>
                    <h6 class="month my-0">January</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col-2 d-none d-lg-block">
        <div class="event-date bg-dark overflow-hidden">
            <div class="h-100 w-100 d-flex flex-column justify-content-center">
                <div class="text-white text-center">
                    <h4 class="day mt-0 mb-1">12</h4>
                    <h6 class="month my-0">January</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-10 d-flex justify-content-center">
        <div class="container order-book-element border rounded-bobooky border-dark">
            <div class="py-3">
                <div class="row align-items-center">

                    <div class="col-12 col-md-6">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <h5 class="event-title text-purple">TITLE OF THE EVENT</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <h5 class="event-author">Name of the author</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <h5 class="event-book">Name of the Book</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="container p-0">
                                        <div class="row">
                                            <div class="col-1">
                                                <div class="fa fa-location-arrow"></div>
                                            </div>
                                            <div class="col">
                                                <h5 class="event-location">Milano, piazza duomo</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="container p-0">
                                        <div class="row">
                                            <div class="col-1">
                                                <div class="fa fa-clock-o"></div>
                                            </div>
                                            <div class="col">
                                                <h5 class="event-time">18:30</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <span class="more text-purple">more details</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
