<div class="row">
    <div class="col-12 col-md-2 bg-dark text-white text-center border event-date">
        <h4 class="day">12</h4>
        <h6 class="month">January</h6>
    </div>
    <div class="col border rounded-bobooky border-dark">
        <div class="container order-book-element">
            <div class="py-3">
                <div class="row align-items-center">

                    <div class="col-12 col-md-6">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <h5 class="event-title text-purple">TITLE OF THE EVENT</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <h5 class="event-author">Name of the author</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <h5 class="event-author">Name of the Book</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="container p-0">
                                        <div class="row">
                                            <div class="col-1">
                                                <div class="fa fa-location-arrow"></div>
                                            </div>
                                            <div class="col">
                                                <h5 class="event-location">Milano, piazza duomo</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="container p-0">
                                        <div class="row">
                                            <div class="col-1">
                                                <div class="fa fa-clock-o"></div>
                                            </div>
                                            <div class="col">
                                                <h5 class="event-time">18:30</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <span class="more text-purple">more details</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>