<!--FOOTER-->
<div class="row bg-dark m-0 footer bottom">
    <div class="flex-column w-100 text-center mt-3">
        <a class="fa text-white text-decoration-none fa-2x fa-angle-up" href="#top"></a>
    </div>
    <div class="container text-white">
        <div class="row py-5">
            <div class="col-3 d-none d-md-block">
                <a class="navbar-brand-b" href="/">
                    <img src="/assets/images/logo_vettoriale.svg"/>
                </a>
            </div>
            <div class="col-6 col-md-3 px-3">
                <ul class="px-0 link-pink">
                    <a class="text-light" href="">All the books</a><br>
                    <a class="text-light" href="">The latest books</a><br>
                    <a class="text-light" href="">All genres</a><br>
                    <a class="text-light" href="">All themes</a><br>
                    <a class="text-light" href="">Bestsellers</a><br>
                    <a class="text-light" href="">Our favorites</a><br>
                </ul>
            </div>
            <div class="col-6 col-md-3 px-3 mb-5">
                <div class="link-danger">
                    <a class="text-light" href="">All the authors</a><br>
                </div>
                <div class="link-purple py-2">
                    <a class="text-light" href="">All the events</a><br>
                </div>
                <div class="link-warning">
                    <a class="text-light" href="">About us</a><br>
                    <a class="text-light" href="">Contact us</a><br>
                    <a class="text-light" href="">Ordering & Shipping</a>
                </div>
            </div>
            <div class="col-12 col-md-3 px-3">
                <div class="row w-100">
                    <a class="fa fa-facebook-f fa-2x mx-auto"></a>
                    <a class="fa fa-twitter fa-2x mx-auto"></a>
                    <a class="fa fa-instagram fa-2x mx-auto"></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 pb-5 text-center">
                <span class="text-light">Made thanks to the <i class="fa fa-handshake-o"></i> of engineers with a super friendly designer</span><br><br>
                <span class="text-light">©Hypermedia Applications - Politecnico di Milano 2019</span><br>
                <span class="text-light">Alberto Mario Bellini <i class="fa fa-magic"></i> - Gianpaolo Di Pietro <i class="fa fa-server"></i> - Luna Alessia Rota <i class="fa fa-pencil"></i></span>
            </div>
        </div>
    </div>
</div>
<!--END OF FOOTER-->