@import "../../lib/bootstrap/scss/functions";
@import "../../lib/bootstrap/scss/variables";
@import "../../lib/bootstrap/scss/mixins/breakpoints";

.event-date {
  height:120px;
  width:120px;
  border-radius:60px;
  @include media-breakpoint-down(sm){
    height:auto;
    width:100%;
  }
}