@import "../../../lib/scss/booboky-colors.scss";
@import "../../../lib/bootstrap/scss/functions";
@import "../../../lib/bootstrap/scss/variables";
@import "../../../lib/bootstrap/scss/mixins/breakpoints";

//background trial
.mailbox {
  background-image: url("/assets/images/account_mailbox.svg");
  background-position: 10% bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 40vh;

  @include media-breakpoint-down(xs) {
    background-image: none;
  }
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.main {
  font-size: 18pt;
}

.navbar {
  background: $bobooky-dark;
}

.address-card {
  border-radius: 24px;
}

.address-card:hover {
  border-color: white;
}

.profile-header-placeholder {
  margin-top: 55px;
}

