<!-- NAVBAR -->
<div class="">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark unscrolled">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/assets/logo_white.png"/>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText, #navbarIcons"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Books</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Authors</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About Us</a>
                    </li>
                </ul>
            </div>
            <div class="navbar-collapse collapse" id="navbarIcons">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="fa font-weight-bold text-white fa-shopping-cart"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="fa font-weight-bold text-white fa-heart"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-button" data-toggle="collapse" data-target="" aria-controls=""
                           aria-expanded="false">
                            <span class="fa font-weight-bold text-white fa-user"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="collapse" id="register-login-ribbon">
        <div class="container-fluid">
            <div class="row h-100">
                <div class="col-12 col-md-6 bg-yellow py-4">
                    <div class="row d-flex flex-column justify-content-center">
                        <div class="col col-xl-8 m-auto d-md-flex justify-content-center">
                            <div>
                                <h2 class="text-white m-0">
                                    <span class="font-weight-bold">first time?</span>
                                </h2>
                                <h2 class="text-dark m-0">
                                    <a href="/profile/register">
                                        <span class="font-weight-bold text-dark"><u>register now!</u></span>
                                    </a>
                                </h2>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 linear-gradient py-4 d-flex flex-column justify-content-center">
                    <div class="row">
                        <div class="col col-xl-8 m-auto">
                            <h2 class="text-white">
                                <span class="font-weight-bold">login</span>
                            </h2>
                            <form class="form-white form-placeholder-white" id="register-login-form">
                                <div class="form-row">
                                    <div class="col-12 col-md">
                                        <input type="text" class="form-control" name="username"
                                               placeholder="username">
                                    </div>
                                    <div class="col-12 col-md">
                                        <input type="password" class="form-control" name="password"
                                               placeholder="password">
                                    </div>
                                    <div class="col-12 col-md-auto mt-4 mt-md-0">
                                        <button type="submit"
                                                class="btn btn-dark font-weight-bold rounded-pill float-right float-md-none">
                                            lets go!
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="collapse" id="profile-ribbon">
        <div class="container-fluid linear-gradient py-4">
            <div class="container h-100">
                <div class="container h-100 px-0">
                    <div class="row h-100">
                        <div class="col-12 col-lg-4 d-flex flex-column justify-content-center">
                            <div class="container p-0 ">
                                <h3 class="text-white">
                                    Hi <span id="username"></span>!
                                </h3>
                                <button type="button" class="btn btn-dark rounded-pill logout">
                                    Logout
                                </button>
                                <hr class="style1 border-white d-lg-none d-block">
                            </div>
                        </div>
                        <div class="col-12 col-lg-8 d-flex flex-column justify-content-center justify-content-lg-end">
                            <div class="container p-0 text-lg-center">
                                <div class="row">
                                    <div class="col-12 col-lg py-1 py-lg-0">
                                        <a href="/profile/account" class="text-white">My Account</a>
                                    </div>
                                    <div class="col-12 col-lg py-1 py-lg-0">
                                        <a href="#" class="text-white">Orders</a>
                                    </div>
                                    <div class="col-12 col-lg py-1 py-lg-0">
                                        <a href="#" class="text-white">Wishlist</a>
                                    </div>
                                    <div class="col-12 col-lg py-1 py-lg-0">
                                        <a href="#" class="text-white">My reviews</a>
                                    </div>
                                    <div class="col-12 col-lg py-1 py-lg-0 d-block d-lg-none">
                                        <a href="#" class="text-white logout">
                                            <span class="badge badge-pill badge-dark py-2 px-3 float-right">Logout</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END NAVBAR -->