@import '../../lib/scss/booboky-colors.scss';
@import '../../../node_modules/bootstrap/scss/functions';
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins/breakpoints";
$logo-height: 25px;

.navbar.scrolled {
  transition: background-color 200ms linear;
}
.navbar.unscrolled {
  transition: background-color 200ms linear;
}

#shopping-cart-ribbon {
  width: 576px;
  height: calc(100vh - 56px);
  right: 8%;
  position: absolute;
  z-index: 1000;
  @include media-breakpoint-down(xs) {
    width: 100%;
    right: 0;
  }
}

.blurred-bg {
  background: rgba(0, 0, 0, 0.8);
}

.objects {
  max-height: calc(100vh - 156px);
}

#cart-title{
  height: 50px;
}

#cart-bottom{
  height: 50px;
}

//TODO: fix this shit
.container {
  -ms-overflow-style: none;  // IE 10+
  scrollbar-width: none;  // Firefox
}
.container::-webkit-scrollbar {
  display: none;  // Safari and Chrome
}

.navbar-brand img {
  height: $logo-height;
}

