<!-- NAVBAR -->
<div class="fixed-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3">
        <div class="container p-0">
            <div class="col-auto order-1 px-0 mx-0">
                <button class="navbar-toggler order-0" type="button" data-toggle="collapse" data-target="#navbarText1" aria-controls="navbarText1" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="col-lg-auto col order-1 pl-3">
                <a class="navbar-brand-b" href="/">
                    <img src="/assets/logo_white.png"/>
                </a>
            </div>

            <div class="col-auto order-3 collapse navbar-collapse align-content-between" id="navbarText1">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" data-target="#booksCollapseLG, #booksCollapseXS" href="#">Books</a>
                            <div class="navbar-collapse collapse d-lg-none" id="booksCollapseXS">
                            <ul class="navbar-nav text-white d-lg-none">
                                    <a class="text-light" href="">All the books</a>
                                    <a class="text-light" href="">The latest books</a>
                                    <a class="text-light" href="">All genres</a>
                                    <a class="text-light" href="">All themes</a>
                                    <a class="text-light" href="">Bestsellers</a>
                                    <a class="text-light" href="">Our favorites</a>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Authors</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" data-target="#aboutCollapseLG, #aboutCollapseXS" href="#">About us</a>
                        <div class="navbar-collapse collapse d-lg-none" id="aboutCollapseXS">
                            <ul class="navbar-nav text-white d-lg-none">
                                <a class="text-light" href="">Who we are</a>
                                <a class="text-light" href="">Contact us</a>
                                <a class="text-light" href="">Ordering and shipping informations</a>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-auto order-2 order-lg-last navbar-nav">
                <div class="w-100">
                    <div class="row ml-auto justify-content-end">
                        <a href="/profile/cart" class="nav-link">
                            <span class="fa font-weight-bold text-white fa-shopping-cart nav-text"></span>
                        </a>
                        <a class="nav-link mx-3" href="#">
                            <span class="fa font-weight-bold text-white fa-heart nav-text"></span>
                        </a>
                        <a class="nav-link" id="profile-button" data-toggle="collapse" data-target="" aria-controls=""
                           aria-expanded="false">
                            <span class="fa font-weight-bold text-white fa-user nav-text"></span>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </nav>

    <div class="auto-hide collapse sub-menu blurred-bg" id="booksCollapseLG">
        <div class="container w-100 py-4">
            <div class="row">
                <a class="mx-auto text-white" href="">All the books</a>
                <a class="mx-auto text-white" href="">The latest books</a>
                <a class="mx-auto text-white" href="">All genres</a>
                <a class="mx-auto text-white" href="">All themes</a>
                <a class="mx-auto text-white" href="">Bestsellers</a>
                <a class="mx-auto text-white" href="">Our favorites</a>
            </div>
        </div>
    </div>

    <div class="auto-hide collapse sub-menu blurred-bg" id="aboutCollapseLG">
        <div class="container w-100 py-4">
            <div class="row">
                <a class="mx-auto text-white" href="">Who we are</a>
                <a class="mx-auto text-white" href="">Contact us</a>
                <a class="mx-auto text-white" href="">Ordering and shipping informations</a>
            </div>
        </div>
    </div>

    <!------------------------------------------------------------------------------------------------------------------->

    <div class="auto-hide collapse mobile-full-screen" id="register-login-ribbon">
        <div class="container-fluid">
            <div class="row h-100">
                <div class="col-12 col-md-6 bg-warning py-4">
                    <div class="row d-flex flex-column justify-content-center">
                        <div class="col col-xl-8 m-auto d-md-flex justify-content-center">
                            <div>
                                <h2 class="text-white m-0">
                                    <span class="font-weight-bold">first time?</span>
                                </h2>
                                <h2 class="text-dark m-0">
                                    <a href="/profile/register">
                                        <a href="/register">
                                            <span class="font-weight-bold text-dark"><u>register now!</u></span>
                                        </a>
                                    </a>
                                </h2>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 linear-gradient py-4 d-flex flex-column justify-content-center">
                    <div class="row">
                        <div class="col col-xl-8 m-auto">
                            <h2 class="text-white">
                                <span class="font-weight-bold">login</span>
                            </h2>
                            <form class="form-white form-placeholder-white" id="register-login-form">
                                <div class="form-row">
                                    <div class="col-12 col-md">
                                        <input type="text" class="form-control" name="username"
                                               placeholder="email">
                                    </div>
                                    <div class="col-12 col-md">
                                        <input type="password" class="form-control" name="password"
                                               placeholder="password">
                                    </div>
                                    <div class="col-12 col-md-auto mt-4 mt-md-0">
                                        <button type="submit"
                                                class="btn btn-dark font-weight-bold rounded-pill float-right float-md-none">
                                            lets go!
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="auto-hide collapse mobile-full-screen" id="profile-ribbon">
        <div class="container-fluid linear-gradient py-4">
            <div class="container h-100">
                <div class="container h-100 px-0">
                    <div class="row h-100">
                        <div class="col-12 col-lg-4 d-flex flex-column justify-content-center">
                            <div class="container p-0 ">
                                <h3 class="text-white">
                                    Hi <span id="username"></span>!
                                </h3>
                                <button type="button" class="btn btn-dark rounded-pill logout">
                                    Logout
                                </button>
                                <hr class="style1 border-white d-lg-none d-block">
                            </div>
                        </div>
                        <div class="col-12 col-lg-8 d-flex flex-column justify-content-center justify-content-lg-end">
                            <div class="container p-0 text-lg-center">
                                <div class="row">
                                    <div class="col-12 col-lg py-1 py-lg-0">
                                        <a href="/profile/account" class="text-white">My Account</a>
                                    </div>
                                    <div class="col-12 col-lg py-1 py-lg-0">
                                        <a href="#" class="text-white">Orders</a>
                                    </div>
                                    <div class="col-12 col-lg py-1 py-lg-0">
                                        <a href="#" class="text-white">Wishlist</a>
                                    </div>
                                    <div class="col-12 col-lg py-1 py-lg-0">
                                        <a href="#" class="text-white">My reviews</a>
                                    </div>
                                    <div class="col-12 col-lg py-1 py-lg-0 d-block d-lg-none">
                                        <a href="#" class="text-white logout">
                                            <span class="badge badge-pill badge-dark py-2 px-3 float-right">Logout</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END NAVBAR -->
