<!-- NAVBAR -->
<div class="fixed-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container p-0">
            <div class="col-auto order-1 px-0 mx-0">
                <button class="navbar-toggler no-glow border-0 order-0" type="button" data-toggle="collapse"
                        data-target="#navbarText1" aria-controls="navbarText1" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="col-lg-auto col order-1 pl-3">
                <a class="navbar-brand-b" href="/">
                    <img src="/assets/images/logo_vettoriale.svg"/>
                </a>
            </div>

            <div class="col-auto order-3 collapse navbar-collapse align-content-between" id="navbarText1">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" data-target="#booksCollapseLG, #booksCollapseXS"
                           href="#">
                            Books <span
                                class="fa d-inline-block align-middle font-weight-light text-light fa-angle-down"></span></a>
                        <div class="navbar-collapse collapse d-lg-none" id="booksCollapseXS">
                            <ul class="navbar-nav text-white d-lg-none px-3">
                                <a class="text-light" href="/search">Search</a>
                                <a class="text-light" href="/search/more/?keyword=latest">The latest books</a>
                                <a class="text-light" href="/discover/?show=genres">All genres</a>
                                <a class="text-light" href="/discover/?show=themes">All themes</a>
                                <a class="text-light" href="/search/more/?keyword=bestsellers">Bestsellers</a>
                                <a class="text-light" href="/search/more/?keyword=favourites">Our favorites</a>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/search/author/?q=">Authors</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/search/event/?q=">Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" data-target="#aboutCollapseLG, #aboutCollapseXS"
                           href="#">
                            About us <span
                                class="fa nav-arrows d-inline-block align-middle font-weight-light text-light fa-angle-down"></span></a>
                        <div class="navbar-collapse collapse d-lg-none" id="aboutCollapseXS">
                            <ul class="navbar-nav text-white d-lg-none px-3">
                                <a class="text-light" href="/about/">About us</a>
                                <a class="text-light" href="/about/contact">Contact us</a>
                                <a class="text-light mb-3" href="/about/shipping">Ordering and shipping informations</a>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-auto order-2 order-lg-last navbar-nav">
                <div class="w-100">
                    <div class="row ml-auto justify-content-end">
                        <a id="cart-button" class="nav-link">
                            <img class="align-self-center" src="/assets/images/icon_cart.svg" alt="cart button"
                                 style="width: auto; height: 20px;">
                        </a>
                        <a class="nav-link mx-3" id="wishlist-button">
                            <img class="align-self-center" src="/assets/images/icon_cuore.svg" alt="cart button"
                                 style="width: auto; height: 18px;">
                        </a>
                        <a class="nav-link" id="profile-button" data-toggle="collapse" data-target="" aria-controls=""
                           aria-expanded="false">
                            <img class="align-self-center" src="/assets/images/icon_user.svg" alt="cart button"
                                 style="width: auto; height: 22px;">
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </nav>

    <div class="auto-hide collapse sub-menu blurred-bg" id="booksCollapseLG">
        <div class="container w-100 py-4">
            <div class="row">
                <a class="mx-auto text-white" href="/search/?q=">Search</a>
                <a class="mx-auto text-white" href="/search/more/?keyword=latest">The latest books</a>
                <a class="mx-auto text-white" href="/discover/?show=genres">All genres</a>
                <a class="mx-auto text-white" href="/discover/?show=themes">All themes</a>
                <a class="mx-auto text-white" href="/search/more/?keyword=bestsellers">Bestsellers</a>
                <a class="mx-auto text-white" href="/search/more/?keyword=favourites">Our favorites</a>
            </div>
        </div>
    </div>

    <div class="auto-hide collapse sub-menu blurred-bg" id="aboutCollapseLG">
        <div class="container w-100 py-4">
            <div class="row">
                <a class="mx-auto text-white" href="/about/">About us</a>
                <a class="mx-auto text-white" href="/about/contact">Contact us</a>
                <a class="mx-auto text-white" href="/about/shipping">Ordering and shipping informations</a>
            </div>
        </div>
    </div>

    <!------------------------------------------------------------------------------------------------------------------->

    <div class="auto-hide collapse mobile-full-screen" id="register-login-ribbon">
        <div class="container-fluid">
            <div class="row h-100">
                <div class="col-12 col-md-6 bg-warning py-4">
                    <div class="row d-flex flex-column justify-content-center">
                        <div class="col col-xl-8 m-auto d-md-flex justify-content-center">
                            <div>
                                <h2 class="text-white m-0 font-weight-bold">
                                    First time?
                                </h2>
                                <h2 class="text-dark m-0">
                                    <a href="/profile/register">
                                        <a href="/register">
                                            <h2 class="text-dark m-0 font-weight-bold"><u>register now!</u></h2>
                                        </a>
                                    </a>
                                </h2>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 linear-gradient py-4 d-flex flex-column justify-content-center">
                    <div class="row">
                        <div class="col col-xl-8 m-auto">
                            <h2 class="text-white font-weight-bold">
                                Login
                            </h2>
                            <form class="form-white form-placeholder-white" id="register-login-form">
                                <div class="form-row">
                                    <div class="col-12 col-md">
                                        <input type="text" class="form-control" name="username"
                                               placeholder="email">
                                    </div>
                                    <div class="col-12 col-md">
                                        <input type="password" class="form-control" name="password"
                                               placeholder="password">
                                    </div>
                                    <div class="col-12 col-md-auto mt-4 mt-md-0">
                                        <button type="submit"
                                                class="btn btn-dark font-weight-bold rounded-pill float-right float-md-none">
                                            lets go!
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="auto-hide collapse mobile-full-screen" id="profile-ribbon">
        <div class="container-fluid linear-gradient py-4">
            <div class="container h-100">
                <div class="container h-100 px-0">
                    <div class="row h-100">
                        <div class="col-12 col-lg-4 d-flex flex-column justify-content-center justify-content-lg-end">
                            <div class="container px-0">
                                <h3 class="text-white d-inline">
                                    Hi
                                </h3>
                                <h3 class="text-white d-inline mx-1" id="username">
                                </h3>
                                <h3 class="text-white d-inline">
                                    !
                                </h3>
                                <button type="button" class="btn btn-dark rounded-pill logout d-none d-lg-block mt-4">
                                    Logout
                                </button>
                                <hr class="style1 border-white d-lg-none d-block">
                            </div>
                        </div>
                        <div class="col-12 col-lg-8 d-flex flex-column justify-content-center justify-content-lg-end">
                            <div class="container p-0 text-lg-center">
                                <div class="row no-gutters">
                                    <div class="col-12 col-lg py-1 py-lg-0 text-lg-right">
                                        <a href="/profile" class="text-white">My Profile</a>
                                    </div>
                                    <div class="col-12 col-lg py-1 py-lg-0 text-lg-right">
                                        <a href="/profile/order" class="text-white">Orders</a>
                                    </div>
                                    <div class="col-12 col-lg py-1 py-lg-0 text-lg-right">
                                        <a href="/profile/wishlist" class="text-white">Wishlist</a>
                                    </div>
                                    <div class="col-12 col-lg py-1 py-lg-0 d-block d-lg-none">
                                        <a href="#" class="text-white logout">
                                            <span class="badge badge-pill badge-dark py-2 px-3 float-right">Logout</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END NAVBAR -->
