<div class="row">
    <div class="col order-container">
        <div class="container order-item border border-secondary rounded-bobooky mb-3 overflow-hidden">
            <div class="row bg-secondary">
                <div class="col-12 col-md-4">
                    <div class="container">
                        Ordered on <br/>
                        Data a caso
                    </div>
                </div>
                <div class="col-12 col-md-8">
                    <div class="container">
                        <div class="row">
                            <div class="col-8">
                                Sent to <br/>
                                Nome a caso
                            </div>
                            <div class="col-4">
                                Total € 45
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container book-element-container mb-3">

            </div>

        </div>
    </div>
</div>