@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins/breakpoints";

[aria-expanded="false"] > .expanded,
[aria-expanded="true"] > .collapsed {
    display: none;
}

$related-book-section-height: 18rem;
$related-book-section-margin: 15rem;

.book-image img {
    @include media-breakpoint-down(sm) {
        width: 100%;
    }
}

.related-books {
    height: $related-book-section-height;
    position: relative;
}

.related-books > svg.head {
    height: 100%;
    position: absolute;
    margin-left: $related-book-section-margin;
}
.related-books > svg.tail {
    height: 100%;
    width: calc(100% - #{$related-book-section-margin + $related-book-section-height / 2 - 0.1rem});
    position: absolute;
    margin-left: $related-book-section-margin + $related-book-section-height / 2 - 0.1rem;
}

.book-reviews {
    margin-top: - $related-book-section-height / 2;
}

.book-reviews > .container {
    margin-top: $related-book-section-height / 2 + 5rem;
}