@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/mixins/breakpoints";


.item .container {
    width: 100%;
    height: 100%;
}
.item .container * {
    white-space: pre-wrap;
}
.item .image {
    background-size: 100% 100%;
    height: 20rem;
    width: 100%;
    @include media-breakpoint-down(sm) {
        height: 25rem;
    }

}