@import "../../../lib/bootstrap/scss/functions";
@import "../../../lib/bootstrap/scss/variables";
@import "../../../lib/bootstrap/scss/mixins/breakpoints";

$image-height: 20rem;
.item .container {
    width: 100%;
    height: 100%;

}
.item .image {
    background-size: 100% 100%;
    height: $image-height;
    width: 100%;
    @include media-breakpoint-down(sm) {
        height: 25rem;
    }
}
.item .description {
    margin-top: 1rem;
    color: $dark;
}