<!doctype html>
<html lang="en">
<head>
    <title>Starter Template for Bootstrap</title>
    <!--Font temporary experiments -->
    <link href="https://fonts.googleapis.com/css?family=Raleway|Paytone+One|Catamaran|Merriweather+Sans:300,400&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli|Nunito:700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato|Roboto|Open+Sans:400,700,800&display=swap"
          rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/lib/scss/bobooky-theme.css">
    <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.css">
</head>

<body>
<div class="cart mt-3 vw-100 mx-auto my-auto">
    <div class="">
        <h3 class="text-gradient">Title</h3>
    </div>
    <div class="container pre-scrollable objects" style="max-height: 700px">

    </div>
    <div class="d-flex justify-content-between">
        <div class="d-flex flex-column justify-content-center">Total</div>
        <div class="d-flex flex-column justify-content-center">Qty</div>
        <div class="d-flex flex-column justify-content-center">
            <div class="d-flex flex-row justify-content-center">
                <button class="btn btn-primary btn-small mx-2">Empty</button>
                <button class="btn btn-primary btn-small mx-2">Proceed</button>
            </div>
        </div>
    </div>
</div>

<script src="/jquery/dist/jquery.js"></script>
<script src="/bootstrap/dist/js/bootstrap.js"></script>
<script src="/components/cart/cart.js" type="module"></script>

</body>
</html>