<div class="chart-item row mb-3 border-top border-dark" style="border-width: 2px !important;">
    <div class="col-1 d-flex flex-column justify-content-center mt-3">
        <h5>#</h5>
    </div>
    <div class="col-4 d-flex justify-content-center mt-3">
        <div class="d-flex flex-column justify-content-center">
            <img class="rounded w-75" src="http://i.imgur.com/IibDqjf.jpg" style="max-width: 100px">

        </div>
    </div>
    <div class="col-7 d-flex flex-column justify-content-between text-dark py-2 mt-3">
        <h5>Title</h5>
        <span>Title</span>
        <div class="d-flex justify-content-between ">
            <div class="d-flex flex-column justify-content-center">Price</div>
            <div class="d-flex flex-column justify-content-center">Qty</div>
            <div class="d-flex flex-column justify-content-center">
            </div>
        </div>
    </div>
</div>